html, body, html * {
  font-family: "Cooper Black";
  color: #264d70;
  font-size: 75px;
  width: 750px;
}

progress {
  background: rgba(102,51,153,1);
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: #336699;
}

progress::-webkit-progress-value {
  background: rgba(102,51,153,1);
}

progress::-webkit-progress-bar {
  background: #336699;
}

.progress-container {
  width: 750px;
}

.progress-container:before {
  color: lightblue;
  content: attr(data-text);
  position: absolute;
  left: 338px;
  right: 0;
  top: 83px;
}

.progress-condensed-container:before:before {
  color: lightblue;
  content: attr(data-text);
  position: absolute;
  left: 5px;
  right: 0;
  top: -7px;
}

p {
  margin: 0;
  text-align: center;
}

.progress {
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
}